.simpleinput{
  outline: none;
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid gainsboro;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
} 
.table-no-border th, .table-no-border td { 
  border-top: none !important; 
}

.bank-card{
  border: 1px solid gainsboro;
  border-radius: 1px;
  padding: 15px 30px;
  margin: 5px;
}

.bank-card:hover{
  background-color: aliceblue;
}

.list-box{
  border: 1px solid gainsboro;
  border-radius: 3px;
  padding: 20px 20px;
}

.list-box:hover{
  background-color: honeydew;
}